<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mage_obsidian>
            <hmr>
                <enabled>1</enabled>
            </hmr>
            <dev_server>
                <host>localhost</host>
                <port>5173</port>
                <secure>0</secure>
                <hmr_path>/__vite_ping</hmr_path>
                <public_host>localhost</public_host>
                <allowed_hosts>localhost</allowed_hosts>
            </dev_server>
            <seo>
                <structured_data_enabled>1</structured_data_enabled>
            </seo>
        </mage_obsidian>
    </default>
</config>
