<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="mage_obsidian" frontName="mage-obsidian">
            <module name="MageObsidian_ModernFrontend"/>
        </route>
    </router>
</config>
